.buttonContainer{
    display: flex;
    justify-content: center;       
}
button{
    border-radius: 25%;
    border-style:none;
    height:40px;
    width: 60px;
    margin: 0px 10px;
}
button:hover{
    background-color:gray;
    color:white;
}
html{
    background-color:honeydew;
}